<template>
  <div id="posts">
    <h2>Liste des postes</h2>
    <ul>
      <li v-for="(post, key) in posts" v-bind:key="key">
        <router-link :to="{ name: 'Post', params: { uuid: post.uuid }}">{{ post.title }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "Posts",
  computed: {
    ...mapState(['posts'])
  },
  mounted() {
    this.$store.dispatch('loadPosts')
  }
}
</script>

<style scoped>

</style>