<template>
  <div id="post">
    <h2>Détail du post</h2>
    <section v-if="post">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Post',
  computed: {
    post () {
      return this.$store.getters.getPostByUuid(this.$route.params.uuid)
    }
  },
  mounted() {
    this.$store.dispatch('loadPosts')
  }
}
</script>

<style scoped>

</style>